# Task 6  Assignment-4

## About DataSet

**Boston Housing Dataset**

**Predicting Median value of owner-occupied homes**

The aim of this assignment is to learn the application of machine learning algorithms to data sets. This involves learning what data means, how to handle data, training, cross validation, prediction, testing your model, etc.

This dataset contains information collected by the U.S Census Service concerning housing in the area of Boston Mass. It was obtained from the StatLib archive, and has been used extensively throughout the literature to benchmark algorithms. The data was originally published by Harrison, D. and Rubinfeld, D.L. Hedonic prices and the demand for clean air', J. Environ. Economics & Management, vol.5, 81-102, 1978.

The dataset is small in size with only 506 cases. It can be used to predict the median value of a home, which is done here. There are 14 attributes in each case of the dataset. They are:

1. CRIM - per capita crime rate by town
2. ZN - proportion of residential land zoned for lots over 25,000 sq.ft.
3. INDUS - proportion of non-retail business acres per town.
4. CHAS - Charles River dummy variable (1 if tract bounds river; 0 otherwise)
5. NOX - nitric oxides concentration (parts per 10 million)
6. RM - average number of rooms per dwelling
7. AGE - proportion of owner-occupied units built prior to 1940
8. DIS - weighted distances to five Boston employment centres
9. RAD - index of accessibility to radial highways
10. TAX - full-value property-tax rate per 1000 dollars
11. PTRATIO - pupil-teacher ratio by town
12. B - 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
13. LSTAT - % lower status of the population
14. MEDV - Median value of owner-occupied homes in $1000's

# Aim

To implement a linear regression with regularization via gradient descent.

To implement gradient descent with Lp norm, for 3 different values of p in (1,2]
                                                                            
To contrast the difference between performance of linear regression Lp norm and L2 norm for these 3 different values.
                                                                            
Tally that the gradient descent for L2 gives same result as matrix inversion based solution.

**Importing the Libraries**

In [1]:
import numpy as np
import pandas as pd

In [2]:
train_data = pd.read_csv('train.csv')
train_data

,ID,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0,0.95577,0.0,8.14,0,0.538,6.047,88.8,4.4534,4,307.0,21.0,306.38,17.28,14.8
1,1,0.02875,28.0,15.04,0,0.464,6.211,28.9,3.6659,4,270.0,18.2,396.33,6.21,25.0
2,2,1.22358,0.0,19.58,0,0.605,6.943,97.4,1.8773,5,403.0,14.7,363.43,4.59,41.3
3,3,5.66637,0.0,18.10,0,0.740,6.219,100.0,2.0048,24,666.0,20.2,395.69,16.59,18.4
4,4,0.04544,0.0,3.24,0,0.460,6.144,32.2,5.8736,4,430.0,16.9,368.57,9.09,19.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,0.03615,80.0,4.95,0,0.411,6.630,23.4,5.1167,4,245.0,19.2,396.90,4.70,27.9
396,396,0.17505,0.0,5.96,0,0.499,5.966,30.2,3.8473,5,279.0,19.2,393.43,10.13,24.7
397,397,6.65492,0.0,18.10,0,0.713,6.317,83.0,2.7344,24,666.0,20.2,396.90,13.99,19.5
398,398,0.13117,0.0,8.56,0,0.520,6.127,85.2,2.1224,5,384.0,20.9,387.69,14.09,20.4
399,399,0.06466,70.0,2.24,0,0.400,6.345,20.1,7.8278,5,358.0,14.8,368.24,4.97,22.5

In [3]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       400 non-null    int64
 1   CRIM     400 non-null    float64
 2   ZN       400 non-null    float64
 3   INDUS    400 non-null    float64
 4   CHAS     400 non-null    int64
 5   NOX      400 non-null    float64
 6   RM       400 non-null    float64
 7   AGE      400 non-null    float64
 8   DIS      400 non-null    float64
 9   RAD      400 non-null    int64
 10  TAX      400 non-null    float64
 11  PTRATIO  400 non-null    float64
 12  B        400 non-null    float64
 13  LSTAT    400 non-null    float64
 14  MEDV     400 non-null    float64
dtypes: float64(12), int64(3)
memory usage: 47.0 KB

In [4]:
train_data.describe()

,ID,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,199.500000,3.757191,10.970000,10.936425,0.072500,0.552817,6.292165,68.086000,3.819462,9.462500,403.797500,18.459000,359.455375,12.668525,22.475750
std,115.614301,9.155496,22.796261,6.848042,0.259639,0.115488,0.709923,28.386888,2.132445,8.687478,169.656816,2.148105,86.732906,7.207047,9.218611
min,0.000000,0.009060,0.000000,0.460000,0.000000,0.385000,4.138000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.920000,5.000000
25%,99.750000,0.077820,0.000000,5.130000,0.000000,0.449000,5.877500,42.375000,2.109150,4.000000,277.000000,17.400000,376.115000,6.990000,17.100000
50%,199.500000,0.242170,0.000000,8.560000,0.000000,0.532000,6.208500,76.950000,3.272100,5.000000,329.000000,18.950000,391.575000,10.875000,21.000000
75%,299.250000,3.543427,12.500000,18.100000,0.000000,0.624000,6.620500,93.825000,5.214600,24.000000,666.000000,20.200000,396.285000,16.910000,25.000000
max,399.000000,88.976200,95.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [5]:
train_data.isnull().sum()

ID         0
CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [6]:
train_data.corr()

,ID,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
ID,1.000000,-0.009895,-0.037340,0.005167,-0.034274,-0.034631,0.061728,-0.031016,0.010385,-0.031669,-0.007460,0.056734,-0.030764,-0.019382,0.006956
CRIM,-0.009895,1.000000,-0.193548,0.409972,-0.060591,0.422635,-0.205928,0.353379,-0.376323,0.618538,0.577501,0.284967,-0.357581,0.442743,-0.393693
ZN,-0.037340,-0.193548,1.000000,-0.522218,-0.037318,-0.497638,0.290127,-0.554214,0.659949,-0.301067,-0.300221,-0.369974,0.161515,-0.402116,0.336805
INDUS,0.005167,0.409972,-0.522218,1.000000,0.075305,0.759132,-0.396865,0.631742,-0.695199,0.608088,0.731619,0.370383,-0.338007,0.624374,-0.502898
CHAS,-0.034274,-0.060591,-0.037318,0.075305,1.000000,0.084020,0.091267,0.083314,-0.102016,-0.023792,-0.045183,-0.137556,0.040732,-0.055326,0.182096
NOX,-0.034631,0.422635,-0.497638,0.759132,0.084020,1.000000,-0.283907,0.736349,-0.768775,0.602960,0.657875,0.154693,-0.382202,0.622209,-0.434271
RM,0.061728,-0.205928,0.290127,-0.396865,0.091267,-0.283907,1.000000,-0.198918,0.171596,-0.190030,-0.277064,-0.336408,0.120518,-0.634758,0.721489
AGE,-0.031016,0.353379,-0.554214,0.631742,0.083314,0.736349,-0.198918,1.000000,-0.750408,0.457339,0.499478,0.234894,-0.274650,0.593788,-0.354106
DIS,0.010385,-0.376323,0.659949,-0.695199,-0.102016,-0.768775,0.171596,-0.750408,1.000000,-0.492090,-0.520442,-0.185938,0.274036,-0.503383,0.235087
RAD,-0.031669,0.618538,-0.301067,0.608088,-0.023792,0.602960,-0.190030,0.457339,-0.492090,1.000000,0.911103,0.458930,-0.395845,0.503532,-0.386922
TAX,-0.007460,0.577501,-0.300221,0.731619,-0.045183,0.657875,-0.277064,0.499478,-0.520442,0.911103,1.000000,0.450978,-0.400353,0.552239,-0.479308
PTRATIO,0.056734,0.284967,-0.369974,0.370383,-0.137556,0.154693,-0.336408,0.234894,-0.185938,0.458930,0.450978,1.000000,-0.155939,0.352839,-0.495904
B,-0.030764,-0.357581,0.161515,-0.338007,0.040732,-0.382202,0.120518,-0.274650,0.274036,-0.395845,-0.400353,-0.155939,1.000000,-0.343821,0.317910
LSTAT,-0.019382,0.442743,-0.402116,0.624374,-0.055326,0.622209,-0.634758,0.593788,-0.503383,0.503532,0.552239,0.352839,-0.343821,1.000000,-0.725281
MEDV,0.006956,-0.393693,0.336805,-0.502898,0.182096,-0.434271,0.721489,-0.354106,0.235087,-0.386922,-0.479308,-0.495904,0.317910,-0.725281,1.000000

In [7]:
test_data = pd.read_csv('test.csv')
test_data

,ID,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0,0.10612,30.0,4.93,0,0.428,6.095,65.1,6.3361,6,300.0,16.6,394.62,12.40
1,1,0.34109,0.0,7.38,0,0.493,6.415,40.1,4.7211,5,287.0,19.6,396.90,6.12
2,2,12.24720,0.0,18.10,0,0.584,5.837,59.7,1.9976,24,666.0,20.2,24.65,15.69
3,3,0.22489,12.5,7.87,0,0.524,6.377,94.3,6.3467,5,311.0,15.2,392.52,20.45
4,4,1.80028,0.0,19.58,0,0.605,5.877,79.2,2.4259,5,403.0,14.7,227.61,12.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,100,0.19073,22.0,5.86,0,0.431,6.718,17.5,7.8265,7,330.0,19.1,393.74,6.56
101,101,6.96215,0.0,18.10,0,0.700,5.713,97.0,1.9265,24,666.0,20.2,394.43,17.11
102,102,0.05360,21.0,5.64,0,0.439,6.511,21.1,6.8147,4,243.0,16.8,396.90,5.28
103,103,0.10469,40.0,6.41,1,0.447,7.267,49.0,4.7872,4,254.0,17.6,389.25,6.05
104,104,4.55587,0.0,18.10,0,0.718,3.561,87.9,1.6132,24,666.0,20.2,354.70,7.12

In [8]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       105 non-null    int64
 1   CRIM     105 non-null    float64
 2   ZN       105 non-null    float64
 3   INDUS    105 non-null    float64
 4   CHAS     105 non-null    int64
 5   NOX      105 non-null    float64
 6   RM       105 non-null    float64
 7   AGE      105 non-null    float64
 8   DIS      105 non-null    float64
 9   RAD      105 non-null    int64
 10  TAX      105 non-null    float64
 11  PTRATIO  105 non-null    float64
 12  B        105 non-null    float64
 13  LSTAT    105 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 11.6 KB

In [9]:
test_data.describe()

,ID,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000
mean,52.000000,3.100574,12.800000,11.984095,0.057143,0.562010,6.253181,70.469524,3.699209,9.961905,426.219048,18.472381,345.695333,12.667238
std,30.454885,6.099267,25.384978,6.854823,0.233229,0.118159,0.679369,27.410123,2.017964,8.814241,164.240090,2.227041,106.976156,6.912011
min,0.000000,0.013600,0.000000,1.320000,0.000000,0.392000,3.561000,6.800000,1.285200,1.000000,188.000000,12.600000,3.650000,1.730000
25%,26.000000,0.100840,0.000000,6.090000,0.000000,0.449000,5.949000,47.200000,2.063500,4.000000,300.000000,16.600000,373.660000,7.120000
50%,52.000000,0.290900,0.000000,9.900000,0.000000,0.544000,6.195000,78.100000,2.783100,5.000000,391.000000,19.100000,390.740000,12.260000
75%,78.000000,4.261310,12.500000,18.100000,0.000000,0.624000,6.631000,94.500000,5.116700,24.000000,666.000000,20.200000,395.620000,17.160000
max,104.000000,45.746100,100.000000,27.740000,1.000000,0.871000,7.929000,100.000000,9.220300,24.000000,711.000000,21.200000,396.900000,36.980000

In [10]:
test_data.corr()

,ID,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
ID,1.000000,-0.004616,0.012860,-0.026150,0.029782,-0.054192,0.049984,0.023660,-0.002147,0.034817,0.019471,0.021606,-0.040157,0.018959
CRIM,-0.004616,1.000000,-0.252591,0.433629,-0.035722,0.454088,-0.315994,0.379757,-0.427115,0.719849,0.667488,0.339656,-0.589667,0.558525
ZN,0.012860,-0.252591,1.000000,-0.591610,-0.059766,-0.588573,0.397199,-0.636549,0.693328,-0.353258,-0.377743,-0.465940,0.223558,-0.456174
INDUS,-0.026150,0.433629,-0.591610,1.000000,0.016151,0.784409,-0.366752,0.698128,-0.765625,0.540953,0.672555,0.422954,-0.409765,0.522552
CHAS,0.029782,-0.035722,-0.059766,0.016151,1.000000,0.125936,0.089930,0.105561,-0.089550,0.061875,0.011468,-0.061725,0.073435,-0.051435
NOX,-0.054192,0.454088,-0.588573,0.784409,0.125936,1.000000,-0.371641,0.712008,-0.772157,0.643034,0.706675,0.312802,-0.374016,0.472764
RM,0.049984,-0.315994,0.397199,-0.366752,0.089930,-0.371641,1.000000,-0.408720,0.345246,-0.283560,-0.348533,-0.428531,0.149688,-0.526669
AGE,0.023660,0.379757,-0.636549,0.698128,0.105561,0.712008,-0.408720,1.000000,-0.736546,0.450335,0.531275,0.365408,-0.269924,0.641902
DIS,-0.002147,-0.427115,0.693328,-0.765625,-0.089550,-0.772157,0.345246,-0.736546,1.000000,-0.505214,-0.591736,-0.415672,0.353127,-0.472209
RAD,0.034817,0.719849,-0.353258,0.540953,0.061875,0.643034,-0.283560,0.450335,-0.505214,1.000000,0.909038,0.479743,-0.596357,0.426104
TAX,0.019471,0.667488,-0.377743,0.672555,0.011468,0.706675,-0.348533,0.531275,-0.591736,0.909038,1.000000,0.498423,-0.575838,0.511174
PTRATIO,0.021606,0.339656,-0.465940,0.422954,-0.061725,0.312802,-0.428531,0.365408,-0.415672,0.479743,0.498423,1.000000,-0.240962,0.447553
B,-0.040157,-0.589667,0.223558,-0.409765,0.073435,-0.374016,0.149688,-0.269924,0.353127,-0.596357,-0.575838,-0.240962,1.000000,-0.448204
LSTAT,0.018959,0.558525,-0.456174,0.522552,-0.051435,0.472764,-0.526669,0.641902,-0.472209,0.426104,0.511174,0.447553,-0.448204,1.000000

In [11]:
test_data.isnull().sum()

ID         0
CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
dtype: int64

***Import phi and phi_test from train and test datasets using NumPy's loadtxt function***

***Import y from train dataset using the loadtxt function***

In [12]:
phi = np.loadtxt('train.csv', dtype= 'float', delimiter = ',', skiprows = 1,usecols=tuple(range(1,14)))

phi_test = np.loadtxt('test.csv', dtype= 'float', delimiter= ',', skiprows = 1, usecols = tuple(range(1,14)))

y = np.loadtxt('train.csv', dtype = 'float', delimiter = ',', skiprows = 1, usecols = 14, ndmin = 2)

***Concatenate coloumn of 1s to right of phi and phi_test***

In [13]:
phi = np.concatenate((phi, np.ones((400,1))),axis = 1)
phi_test = np.concatenate((phi_test, np.ones((105,1))),axis =1)
phi_test

array([[1.06120e-01, 3.00000e+01, 4.93000e+00, ..., 3.94620e+02,
        1.24000e+01, 1.00000e+00],
       [3.41090e-01, 0.00000e+00, 7.38000e+00, ..., 3.96900e+02,
        6.12000e+00, 1.00000e+00],
       [1.22472e+01, 0.00000e+00, 1.81000e+01, ..., 2.46500e+01,
        1.56900e+01, 1.00000e+00],
       ...,
       [5.36000e-02, 2.10000e+01, 5.64000e+00, ..., 3.96900e+02,
        5.28000e+00, 1.00000e+00],
       [1.04690e-01, 4.00000e+01, 6.41000e+00, ..., 3.89250e+02,
        6.05000e+00, 1.00000e+00],
       [4.55587e+00, 0.00000e+00, 1.81000e+01, ..., 3.54700e+02,
        7.12000e+00, 1.00000e+00]])

## Feature Scaling

***Apply min max scaling on each coloumn of phi and phi_test***

In [14]:
for i in range(0, 13):
  colmax = max(phi[:,i])
  colmin = min(phi[:,i])
  phi[:,i] = (phi[:,i] - colmin) / (colmax - colmin)
  phi_test[:,i] = (phi_test[:,i] - colmin) / (colmax - colmin)

In [15]:
phi

array([[1.06411199e-02, 0.00000000e+00, 2.81524927e-01, ...,
        7.71748449e-01, 4.26074896e-01, 1.00000000e+00],
       [2.21317669e-04, 2.94736842e-01, 5.34457478e-01, ...,
        9.98562711e-01, 1.19001387e-01, 1.00000000e+00],
       [1.36513324e-02, 0.00000000e+00, 7.00879765e-01, ...,
        9.15603409e-01, 7.40638003e-02, 1.00000000e+00],
       ...,
       [7.47001646e-02, 0.00000000e+00, 6.46627566e-01, ...,
        1.00000000e+00, 3.34812760e-01, 1.00000000e+00],
       [1.37252923e-03, 0.00000000e+00, 2.96920821e-01, ...,
        9.76776439e-01, 3.37586685e-01, 1.00000000e+00],
       [6.24949841e-04, 7.36842105e-01, 6.52492669e-02, ...,
        9.27732110e-01, 8.46047157e-02, 1.00000000e+00]])

In [16]:
phi_test

array([[1.09096460e-03, 3.15789474e-01, 1.63856305e-01, ...,
        9.94250845e-01, 2.90707351e-01, 1.00000000e+00],
       [3.73205208e-03, 0.00000000e+00, 2.53665689e-01, ...,
        1.00000000e+00, 1.16504854e-01, 1.00000000e+00],
       [1.37557979e-01, 0.00000000e+00, 6.46627566e-01, ...,
        6.13495386e-02, 3.81969487e-01, 1.00000000e+00],
       ...,
       [5.00634279e-04, 2.21052632e-01, 1.89882698e-01, ...,
        1.00000000e+00, 9.32038835e-02, 1.00000000e+00],
       [1.07489125e-03, 4.21052632e-01, 2.18108504e-01, ...,
        9.80710071e-01, 1.14563107e-01, 1.00000000e+00],
       [5.11066221e-02, 0.00000000e+00, 6.46627566e-01, ...,
        8.93590196e-01, 1.44244105e-01, 1.00000000e+00]])

***Apply log scaling on y***

In [17]:
y = np.log(y)
y

array([[2.69462718],
       [3.21887582],
       [3.7208625 ],
       [2.91235066],
       [2.98568194],
       [3.02529108],
       [2.7080502 ],
       [2.59525471],
       [3.13983262],
       [2.98568194],
       [3.91202301],
       [3.09104245],
       [3.07731226],
       [1.60943791],
       [3.28466357],
       [2.11625551],
       [2.77881927],
       [3.0056826 ],
       [3.34990409],
       [3.03495299],
       [3.38099467],
       [3.19047635],
       [2.89591194],
       [3.09557761],
       [3.17805383],
       [3.68386691],
       [2.91235066],
       [3.29953373],
       [3.17387846],
       [3.19867312],
       [3.05400118],
       [2.95491028],
       [2.99573227],
       [3.38777436],
       [2.94968834],
       [2.35137526],
       [3.33576958],
       [3.36729583],
       [3.03974916],
       [3.02529108],
       [3.41772668],
       [3.10906096],
       [3.5204608 ],
       [2.8094027 ],
       [3.34638915],
       [2.97552957],
       [3.33932198],
       [2.60268969],
       [2.87919846],
       [2.65324196],
       [2.12823171],
       [2.57261223],
       [2.72785283],
       [3.13113691],
       [3.02529108],
       [2.66722821],
       [3.19458313],
       [3.10906096],
       [3.37073817],
       [2.95491028],
       [3.04452244],
       [2.00148   ],
       [2.79116511],
       [3.07731226],
       [2.8094027 ],
       [3.01062089],
       [2.92852352],
       [2.61006979],
       [2.97041447],
       [3.314186  ],
       [3.12236492],
       [3.19867312],
       [2.93916192],
       [2.7080502 ],
       [3.12676054],
       [3.91202301],
       [3.21084365],
       [3.13549422],
       [3.12676054],
       [3.02529108],
       [2.62466859],
       [3.4339872 ],
       [3.09104245],
       [3.47815842],
       [2.91777073],
       [3.73050113],
       [3.42426265],
       [3.40452517],
       [2.34180581],
       [2.17475172],
       [3.13983262],
       [3.35689712],
       [3.763523  ],
       [3.17387846],
       [3.15273602],
       [2.57261223],
       [3.20680324],
       [2.77881927],
       [3.45315712],
       [3.18635263],
       [3.28091122],
       [3.42751469],
       [2.99573227],
       [2.8678989 ],
       [3.21084365],
       [3.40452517],
       [3.56104608],
       [2.34180581],
       [2.11625551],
       [3.11794991],
       [2.44234704],
       [3.35689712],
       [3.5085559 ],
       [3.80220814],
       [3.59731226],
       [3.15700042],
       [2.63188884],
       [3.49347266],
       [2.46809953],
       [2.42480273],
       [2.45958884],
       [2.83907846],
       [3.4657359 ],
       [2.99071973],
       [3.06805294],
       [3.07731226],
       [3.58351894],
       [3.91202301],
       [2.62466859],
       [3.33220451],
       [3.91202301],
       [3.87743156],
       [2.58776404],
       [2.98568194],
       [3.0155349 ],
       [2.54944517],
       [3.06339092],
       [3.0301337 ],
       [3.07731226],
       [2.97552957],
       [2.87919846],
       [3.06339092],
       [2.96527307],
       [3.39450839],
       [2.87919846],
       [3.14415228],
       [2.74727091],
       [3.91202301],
       [3.19458313],
       [2.58776404],
       [3.13549422],
       [3.55248683],
       [3.39450839],
       [2.59525471],
       [3.10009229],
       [2.96527307],
       [3.5085559 ],
       [2.32238772],
       [3.01062089],
       [3.02042489],
       [2.68102153],
       [2.37954613],
       [2.85647021],
       [3.21084365],
       [2.67414865],
       [2.91235066],
       [2.16332303],
       [3.14415228],
       [3.10458668],
       [2.93916192],
       [3.11351531],
       [3.34638915],
       [2.99573227],
       [3.13983262],
       [2.68102153],
       [3.36729583],
       [3.13983262],
       [3.09104245],
       [3.14845336],
       [3.03974916],
       [2.66025954],
       [2.82137889],
       [3.18221184],
       [3.91202301],
       [3.62700405],
       [3.08648664],
       [3.13549422],
       [3.0301337 ],
       [3.55248683],
       [2.87356464],
       [2.58776404],
       [3.00071982],
       [2.91777073],
       [2.74727091],
       [2.67414865],
       [2.90690106],
       [3.10009229],
       [3.18221184],
       [2.61006979],
       [3.56671182],
       [3.54385368],
       [2.86220088],
       [2.57261223],
       [2.72129543],
       [3.12676054],
       [2.81540872],
       [3.21887582],
       [3.81551211],
       [3.61630876],
       [3.02529108],
       [2.77881927],
       [2.73436751],
       [2.94443898],
       [3.84374416],
       [2.99573227],
       [2.98061864],
       [2.58021683],
       [3.44041809],
       [1.84054963],
       [3.21887582],
       [2.14006616],
       [2.90142159],
       [2.90690106],
       [3.2308044 ],
       [3.58629287],
       [3.02042489],
       [2.54160199],
       [2.62466859],
       [3.16547505],
       [2.90142159],
       [3.02042489],
       [3.49650756],
       [3.78418963],
       [3.16124671],
       [3.07269331],
       [1.94591015],
       [3.05400118],
       [3.55820113],
       [2.97552957],
       [2.80336038],
       [3.6558396 ],
       [2.87919846],
       [2.50959926],
       [3.14845336],
       [3.10009229],
       [3.14845336],
       [2.93916192],
       [2.57261223],
       [2.70136121],
       [2.83907846],
       [2.01490302],
       [2.92316158],
       [3.40452517],
       [2.79728133],
       [2.74727091],
       [2.96527307],
       [3.01062089],
       [2.92316158],
       [3.13113691],
       [3.07269331],
       [2.84490938],
       [2.2512918 ],
       [2.4765384 ],
       [3.8286414 ],
       [2.87919846],
       [3.00071982],
       [2.96527307],
       [3.15273602],
       [2.63188884],
       [2.94968834],
       [2.56494936],
       [3.16547505],
       [2.59525471],
       [3.19458313],
       [2.93385687],
       [3.91202301],
       [3.91202301],
       [3.00071982],
       [2.86220088],
       [2.86220088],
       [2.6461748 ],
       [3.04927304],
       [3.21887582],
       [3.08648664],
       [2.81540872],
       [2.9601051 ],
       [3.09104245],
       [2.9601051 ],
       [3.05400118],
       [3.20680324],
       [3.27336401],
       [2.54160199],
       [3.00071982],
       [3.09104245],
       [3.11794991],
       [3.22684399],
       [3.91202301],
       [2.14006616],
       [2.38876279],
       [2.97041447],
       [3.41114771],
       [2.66722821],
       [2.35137526],
       [3.14415228],
       [2.74727091],
       [1.60943791],
       [3.91202301],
       [2.94443898],
       [3.11794991],
       [2.99071973],
       [2.2617631 ],
       [3.39785848],
       [2.96527307],
       [3.16968558],
       [3.7565381 ],
       [3.35689712],
       [2.8507065 ],
       [3.19047635],
       [3.03495299],
       [2.75366071],
       [3.45631668],
       [2.84490938],
       [3.14845336],
       [2.4765384 ],
       [3.48124009],
       [2.62466859],
       [3.91202301],
       [2.91777073],
       [2.72129543],
       [3.0155349 ],
       [2.9601051 ],
       [1.97408103],
       [3.27336401],
       [2.83907846],
       [3.19458313],
       [3.88773031],
       [3.49953328],
       [2.38876279],
       [3.91202301],
       [2.92852352],
       [3.56671182],
       [3.13983262],
       [3.07731226],
       [3.08190997],
       [3.09104245],
       [3.13113691],
       [3.21887582],
       [2.46809953],
       [3.28091122],
       [2.88480071],
       [3.0056826 ],
       [3.21084365],
       [2.17475172],
       [3.04452244],
       [3.16547505],
       [3.17387846],
       [2.60268969],
       [3.91202301],
       [2.92852352],
       [2.48490665],
       [2.99071973],
       [3.04452244],
       [3.05400118],
       [2.85647021],
       [3.16547505],
       [3.28091122],
       [2.74727091],
       [2.82137889],
       [3.05400118],
       [2.59525471],
       [3.63495111],
       [2.52572864],
       [1.7227666 ],
       [3.77963382],
       [3.13113691],
       [1.97408103],
       [3.16124671],
       [3.17387846],
       [3.01062089],
       [3.314186  ],
       [3.37073817],
       [3.06339092],
       [3.17387846],
       [3.44998755],
       [3.48737508],
       [3.11794991],
       [2.85647021],
       [3.47196645],
       [3.29583687],
       [3.58905912],
       [2.73436751],
       [2.84490938],
       [3.27714473],
       [3.13549422],
       [3.50254988],
       [3.32862669],
       [3.20680324],
       [2.97041447],
       [3.0155349 ],
       [3.11351531]])

## Define a function to calculate change in error function based on phi, w and p norm

In [18]:
def error_function(p,phi, w):
    if p == 2:
        deltaw = (2 * (np.dot(np.dot(np.transpose(phi), phi), w) -
                       np.dot(np.transpose(phi), y)) +
                  lambd * p * np.power(np.absolute(w), (p - 1)))
    if p < 2 and p > 1:
        deltaw = (2 * (np.dot(np.dot(np.transpose(phi), phi), w) -
                       np.dot(np.transpose(phi), y)) +
                  lambd * p * np.power(np.absolute(w), (p - 1)) * np.sign(w))
    return deltaw

## Make a dictionary containing filenames as keys and p as values

In [19]:
filenames = {'output.csv': 2.0,
             'output_p1.csv': 1.75,
             'output_p2.csv': 1.5,
             'output_p3.csv': 1.3
             }

For each item in this dictionary

    --> Set the w to all 0s
    
    --> Set an appropriate value for lambda and step size
    
    --> Calculate new value of w
    
    --> Repeat steps until error between consecutive ws is less than threshold
    
    --> Load values of id from test data file
    
    --> Calculate y for test data using phi test and applying inverse log
    
    --> Save the ids and y according to filename from dictionary

In [20]:
for (fname, p) in filenames.items():
    w = np.zeros((14, 1))  ## setting the value of w to all zero

In [21]:
lambd = 0.4 ## declaring the lambda value to 0.4
t = 0.00012 ## declaring the step size to 0.00012

# Using the above factors calculating the new value for w
w_new = w - t * error_function(p, phi, w)
i = 0
# Repeating steps until error between consecutive ws is less than threshold
while(np.linalg.norm(w_new-w) > 10 ** -10):
    w = w_new
    w_new = w - t * error_function(p, phi, w)
    i = i + 1
    
# Load values of id from test data file
id_test = np.loadtxt('test.csv', dtype='int', delimiter=',',skiprows=1, usecols=0, ndmin=2) 
# Calculate y for test data using phi test and applying inverse log
y_test = np.exp(np.dot(phi_test, w_new)) 
#Save the ids and y according to filename from dictionary
np.savetxt(fname, np.concatenate((id_test, y_test), axis=1), delimiter=',', fmt=['%d', '%f'], header='ID,MEDV', comments='')